<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tapad.sample"
          android:versionCode="6"
          android:versionName="1.1">
    <uses-sdk android:minSdkVersion="8"/>

    <!-- Required if specifying WifiMac as one of the tapad.ID_SOURCES -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required if specifying PhoneId as one of the tapad.ID_SOURCES -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- Required if specifying WifiMac as one of the tapad.ID_SOURCES -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:icon="@drawable/logo" android:label="Tapestry Demo">
        <!-- Tapad Tracking ids to be collected. Defaults to AndroidId if not specified -->
        <!-- Available Values are: AndroidId, PhoneId, WifiMac -->
        <meta-data android:name="tapad.ID_SOURCES" android:value="AndroidId,PhoneId,WifiMac"/>

        <activity android:name=".TapestryDemoActivity"
                  android:label="TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest> 
