<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tapad.tapestry"
          android:versionCode="6"
          android:versionName="1.1">

    <uses-sdk android:minSdkVersion="8"/>

    <!-- Required if specifying WifiMac as one of the tapad.ID_SOURCES -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required if specifying PhoneId as one of the tapad.ID_SOURCES -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- Required if specifying WifiMac as one of the tapad.ID_SOURCES -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:name="com.tapad.sample.MainApplication" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <!-- Tapestry partner id. -->
        <meta-data android:name="tapad.PARTNER_ID" android:value="1"/>

        <activity android:name="com.tapad.sample.MenuTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tapad.sample.DemoActivity"/>
        <activity android:name="com.tapad.sample.TestActivity"/>
    </application>
</manifest>