<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tapad.tapestry"
          android:versionCode="6"
          android:versionName="1.1" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>

    <!-- Optional permissions for detecting phone's connectivity and caching requests when offline -->
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Required permissions for using Google Analytics SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" tools:ignore="AllowBackup" android:icon="@drawable/ic_launcher">
        <!-- Tapestry partner id. -->
        <meta-data android:name="tapad.PARTNER_ID" android:value="1"/>

        <activity android:name="com.tapad.sample.GoogleAnalyticsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>