<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tapad.sample"
          android:versionCode="6"
          android:versionName="1.1" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>

    <!-- Optional permissions for detecting phone's connectivity and caching requests when offline -->
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permissions for accessing the phone's ids (at least one is required) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Additional permissions for using Google Analytics SDK -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" tools:ignore="AllowBackup" android:icon="@drawable/ic_launcher">
        <!-- Your Tapestry partner id will be provided by Tapad -->
        <meta-data android:name="tapad.PARTNER_ID" android:value="725"/>

        <!-- Google Analytics custom dimension indices for Tapestry data -->
        <meta-data android:name="ga.VISITED_PLATFORMS_DIM_IDX" android:value="1" />
        <meta-data android:name="ga.PLATFORMS_ASSOC_DIM_IDX" android:value="2" />
        <meta-data android:name="ga.PLATFORM_TYPES_DIM_IDX" android:value="3" />
        <meta-data android:name="ga.FIRST_VISITED_DIM_IDX" android:value="4" />
        <meta-data android:name="ga.MOST_RECENT_DIM_IDX" android:value="5" />
        <meta-data android:name="ga.MOST_OFTEN_DIM_IDX" android:value="6" />

        <activity android:name="com.tapad.sample.GoogleAnalyticsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>